/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}
font-family: 'Roboto', sans-serif;

nav {
	background: green; 
	width: 100vw;
	height: 10vh;
}
h1 {
font-family: 'Roboto', sans-serif;
font-size: 22px;
line-height: 26px;
}
h2 {
font-family: 'Roboto', sans-serif;
font-size: 16px;
line-height: 20px;
}
h3 {
	font-family: 'Roboto', sans-serif;
font-size: 14px;
line-height: 18px;
}
ul {
  margin:0; padding:0;
  max-width:38em;
  list-style:none;
  /*display: flex;*/
}

li {
  margin-bottom:5vw;
  background-color:white;
}

img {
  display: block;
  width:100%;
  border-radius: 20px
}

#carrousel {
  position:relative;
}

#carrousel h2 {
  position:absolute;
  left:0;
  bottom:17.5%;
  margin:0; padding:.5em;
  color:black;
  background-color: white;
  width: 100%;
  padding-bottom: 0;
}
#carrousel p {
	position: absolute;
	bottom:0;
	 margin:0; padding:.5em;
	 padding-top: 0;
  color:black;
  background-color: white;
  width: 100%;
}