/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}
font-family: 'Roboto', sans-serif;

.navbar{
	background: green; 
	width: 100vw;
	height: 10vh;
}
h1{
font-family: 'Roboto', sans-serif;
font-size: 22px;
line-height: 26px;
}
h2{
font-family: 'Roboto', sans-serif;
font-size: 16px;
line-height: 20px;
}
h3{
	font-family: 'Roboto', sans-serif;
font-size: 14px;
line-height: 18px;
}